h1{
    text-shadow: 0px 0px 5px blueviolet;
    color: rgb(22, 20, 20);
}
h2{
    text-shadow: 0px 2px 2px blue;
    color: white;
}
h3{
    text-shadow: 0 0 3px;
    color: brown;
}
h4{
    text-shadow:0 0 3px  grey;
    color: white;
}
h5{
    text-shadow: 5px 5px 5px red;
    color: red;
}
h6{
    text-shadow: 2px 2px black;
}